@model List<Patient>

@{
    ViewBag.Title = "Patient";
}


<h2>Patient</h2>

<span style="color:red">@TempData["Msg"]</span><br />
<p>
    <a asp-controller="Patient" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Medical History</th>
        <th>Date Of Birth</th>
        <th>Phone</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.PatientId">@item.MedicalHistory</a>
            </td>
            <td>
                @item.DateOfBirth
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                <a asp-controller="ServiceRequest" asp-action="Create">Request For Service</a>
                <a asp-action="Delete" asp-route-id="@item.PatientId" onclick="return ConfirmDelete()">Delete</a>
            </td>
        </tr>
                }
</table>